<div class="container">
    {{#each problem}}
    <div class="row">
        {{!-- Show my articles --}} {{!-- For every article in the DB --}}
        <div id="articles" class="col l4" data-id={{this._id}}>
            <h4>Problem</h4>
            <ol>
                <li>wall: {{this.wall}}</li>
                <li>grade: {{this.grade}}</li>
                <li> color: {{this.color}}</li>
                <li>setter: {{this.setter}}</li>
            </ol>
            <button class="delete" data-id="{{this.id}}">Remove Route</button>
        </div>
        <div id="notes" class="col l4">
            {{#each note}}
            {{this.note}} {{!-- Delete Button needs to be hooked up --}}
            <br>
            <button class="deleteNote" data-id="{{this.id}}">Remove Note</button>
            <hr> 
            {{/each}}
        </div>
        <div id="addNote_{{this._id}}" class="col l4" data-id={{this._id}}>
            <h6> {{this.title}} </h6>
            <textarea id='bodyinput_{{this._id}}' name='body' placeholder="Note Body"></textarea>
            <button data-id={{this._id}} class="savenote">Save Note</button>
        </div>
    </div>
    <hr>
    {{/each}}
</div>
</div>